webencodings==0.5.1
anyio==4.4.0
tornado==6.4.1
pyro-api==0.1.2
filelock==3.16.0
pexpect==4.9.0
huggingface-hub==0.29.2
nbformat==5.10.4
pkgutil_resolve_name==1.3.10
fsspec==2024.9.0
pip==24.2
h11==0.14.0
PyYAML==6.0.2
prometheus_client==0.20.0
zstandard==0.23.0
charset-normalizer==3.3.2
jupyter-lsp==2.2.5
Pillow==9.4.0
git-filter-repo==2.45.0
rpds-py==0.20.0
click==8.1.7
pytorch-lightning==2.4.0
webcolors==24.8.0
tensorboard==2.17.1
scipy==1.13.1
torchdiffeq==0.2.5
smmap==5.0.1
jedi==0.19.1
jupyter_server_terminals==0.5.3
notebook_shim==0.2.4
wcwidth==0.2.13
nest_asyncio==1.6.0
h5netcdf==1.4.1
executing==2.1.0
jupyter==1.1.1
aiosignal==1.3.1
isoduration==20.11.0
Brotli==1.1.0
uri-template==1.3.0
h5py==3.12.1
tomli==2.0.1
lightning==2.4.0
sympy==1.13.2
pyro-ppl==1.9.1
typing_extensions==4.12.2
pickleshare==0.7.5
kiwisolver==1.4.7
tzdata==2024.1
bitsandbytes==0.45.3
prompt_toolkit==3.0.47
matplotlib-inline==0.1.7
arrow==1.3.0
wheel==0.44.0
torchcontrib==0.0.2
h2==4.1.0
jupyter_server==2.14.2
torchmetrics==1.4.3
jupyter_core==5.7.2
matplotlib==3.9.2
rfc3986-validator==0.1.1
pure_eval==0.2.3
jupyterlab_widgets==3.0.13
frozenlist==1.4.1
argon2-cffi-bindings==21.2.0
importlib_resources==6.4.5
fqdn==1.5.1
torchaudio==2.4.1
sentry-sdk==2.14.0
regex==2024.11.6
jupyterlab_pygments==0.3.0
accelerate==1.4.0
overrides==7.7.0
jupyter-events==0.10.0
gitdb==4.0.11
opt_einsum==3.4.0
requests==2.32.3
hydra-core==1.3.2
fastjsonschema==2.20.0
docker-pycreds==0.4.0
jsonschema==4.23.0
entrypoints==0.4
httpx==0.27.2
psutil==6.0.0
urllib3==2.2.2
xxhash==3.5.0
PySocks==1.7.1
mpmath==1.3.0
arviz==0.17.1
certifi==2024.8.30
Cython==3.0.11
pandas==2.2.2
notebook==7.2.2
datasets==3.3.2
jupyter_client==8.6.2
exceptiongroup==1.2.2
python-json-logger==2.0.7
cached-property==1.5.2
stack-data==0.6.2
jaxtyping==0.2.36
packaging==24.1
async-lru==2.0.4
jupyterlab==4.2.5
comm==0.2.2
Jinja2==3.1.4
torch==2.4.1
threadpoolctl==3.5.0
nbclient==0.10.0
pytz==2024.2
referencing==0.35.1
typing-utils==0.1.0
bleach==6.1.0
networkx==3.2.1
pycparser==2.22
xarray==2024.7.0
Send2Trash==1.8.3
ipykernel==6.29.5
contourpy==1.3.0
pyarrow==19.0.1
widgetsnbextension==4.0.13
zipp==3.20.2
parso==0.8.4
jsonschema-specifications==2023.12.1
sniffio==1.3.1
bayesian_lora==0.0.6
safetensors==0.5.3
six==1.16.0
tensorboard-data-server==0.7.0
transformers==4.49.0
importlib_metadata==8.5.0
beautifulsoup4==4.12.3
GitPython==3.1.43
platformdirs==4.3.3
scikit-learn==1.5.2
ipywidgets==8.1.5
setuptools==73.0.1
soupsieve==2.5
propcache==0.2.0
torchvision==0.19.1
lightning-utilities==0.11.7
aiohttp==3.10.10
grpcio==1.62.2
mistune==3.0.2
absl-py==2.1.0
Markdown==3.6
decorator==5.1.1
tokenizers==0.21.0
Pygments==2.18.0
fonttools==4.53.1
multidict==6.1.0
rfc3339-validator==0.1.4
pluggy==1.5.0
python-dateutil==2.9.0
types-python-dateutil==2.9.0.20240906
omegaconf==2.3.0
httpcore==1.0.5
cffi==1.17.1
defusedxml==0.7.1
MarkupSafe==2.1.5
pyzmq==26.2.0
attrs==24.2.0
tinycss2==1.3.0
wandb==0.18.0
Babel==2.14.0
multiprocess==0.70.16
iniconfig==2.0.0
seaborn==0.13.2
jupyter-console==6.6.3
xarray-einstats==0.7.0
peft==0.14.0
antlr4-python3-runtime==4.9.3
idna==3.10
debugpy==1.8.5
asttokens==2.4.1
jsonpointer==3.0.0
setproctitle==1.3.3
gmpy2==2.1.5
traitlets==5.14.3
numpy==1.26.4
yarl==1.15.2
protobuf==4.25.3
joblib==1.4.2
pandocfilters==1.5.0
async-timeout==4.0.3
pyparsing==3.1.4
nbconvert==7.16.4
hpack==4.0.0
json5==0.9.25
triton==3.0.0
cycler==0.12.1
jupyterlab_server==2.27.3
ptyprocess==0.7.0
ipython==8.18.1
Werkzeug==3.0.4
websocket-client==1.8.0
argon2-cffi==23.1.0
dill==0.3.8
hyperframe==6.0.1
aiohappyeyeballs==2.4.3
terminado==0.18.1
tqdm==4.66.5
pytest==8.3.5
inflect==7.3.1
wheel==0.43.0
jaraco.functools==4.0.1
importlib_resources==6.4.0
backports.tarfile==1.2.0
jaraco.context==5.3.0
autocommand==2.2.2
platformdirs==4.2.2
more-itertools==10.3.0
tomli==2.0.1
typing_extensions==4.12.2
jaraco.text==3.12.1
packaging==24.1
zipp==3.19.2
importlib_metadata==8.0.0
typeguard==4.3.0
